.button_save {
  width: 238px;
  height: 46px;
  background-color: #000000;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  margin: 48px auto 37px;
  padding: 0;
  border: none;
  align-self: center;
  box-sizing: border-box;
}


@media screen and (max-width: 580px) {
  .button_save {
    font-size: 14px;
    line-height: 17px;
    margin: 45px auto 25px;
  }
}
